@charset "UTF-8";
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Light.eot");
  src: url("../fonts/Montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-Light.svg#Montserrat-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-Medium.svg#Montserrat-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PlayfairDisplaySC';
  src: url("../fonts/PlayfairDisplaySC/PlayfairDisplaySC-Regular.eot");
  src: url("../fonts/PlayfairDisplaySC/PlayfairDisplaySC-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplaySC/PlayfairDisplaySC-Regular.woff2") format("woff2"), url("../fonts/PlayfairDisplaySC/PlayfairDisplaySC-Regular.woff") format("woff"), url("../fonts/PlayfairDisplaySC/PlayfairDisplaySC-Regular.ttf") format("truetype"), url("../fonts/PlayfairDisplaySC/PlayfairDisplaySC-Regular.svg#PlayfairDisplaySC-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PlayfairDisplaySC';
  src: url("../fonts/PlayfairDisplaySC/PlayfairDisplaySC-Bold.eot");
  src: url("../fonts/PlayfairDisplaySC/PlayfairDisplaySC-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplaySC/PlayfairDisplaySC-Bold.woff2") format("woff2"), url("../fonts/PlayfairDisplaySC/PlayfairDisplaySC-Bold.woff") format("woff"), url("../fonts/PlayfairDisplaySC/PlayfairDisplaySC-Bold.ttf") format("truetype"), url("../fonts/PlayfairDisplaySC/PlayfairDisplaySC-Bold.svg#PlayfairDisplaySC-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  min-height: 500px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #1e1e1e; }

h1 {
  font-size: 40px;
  font-family: "PlayfairDisplaySC"; }

h2 {
  font-size: 40px;
  font-family: "PlayfairDisplaySC"; }

h3 {
  font-size: 32px;
  font-family: "PlayfairDisplaySC"; }

h4 {
  font-size: 24px;
  font-family: "PlayfairDisplaySC"; }

h5 {
  font-size: 18px;
  font-weight: 500; }

h6 {
  font-size: 16px; }

a {
  color: #1e1e1e;
  text-decoration: none;
  outline: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  a:hover {
    opacity: 0.7;
    text-decoration: none;
    outline: none;
    color: inherit; }
  a:active {
    opacity: 0.6;
    outline: none;
    color: inherit;
    text-decoration: none; }
  a:focus {
    outline: none;
    color: inherit;
    text-decoration: none; }

button, input, textarea, select {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

button:hover, input:hover, textarea:hover, select:hover {
  opacity: 0.8; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

img {
  max-width: 100%; }

p {
  font-size: 14px;
  line-height: normal; }

header {
  border-bottom: 1px solid #EEEBE5;
  background: #fff; }

.header-top {
  padding: 30px 0 30px; }

.container {
  max-width: 960px; }

.header-info {
  margin-left: 32px; }
  .header-info a {
    font-size: 18px;
    font-weight: 300; }

.header-info__title {
  color: #a89875; }

.color-green {
  color: #60af5c; }

.color-violet {
  color: #8275a8; }

.header-cart {
  position: relative;
  margin-left: 38px; }
  .header-cart span {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #1e1e1e; }

.justify-align {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center; }

.nav-search {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.navbar-wrapper {
  min-height: 60px;
  -webkit-background-size: cover;
          background-size: cover; }

.navbar {
  min-height: 0;
  margin-bottom: 0;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0; }

.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
  border-top: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.navbar-nav {
  float: none;
  margin: 0; }

.nav.navbar-nav::before, .nav.navbar-nav::after {
  display: none; }

.navbar-nav > li {
  position: relative;
  float: none;
  display: inline-block;
  padding: 0 8px;
  vertical-align: middle; }
  .navbar-nav > li::before {
    content: '•';
    position: absolute;
    left: -3px;
    top: 0;
    color: #a89875; }
  .navbar-nav > li:first-child {
    padding-left: 0; }
    .navbar-nav > li:first-child::before {
      display: none; }
  .navbar-nav > li:last-child {
    padding-right: 0; }
  .navbar-nav > li > a {
    position: relative;
    display: block;
    padding: 0 0 17px;
    font-size: 14px;
    border: none;
    text-transform: uppercase; }
    .navbar-nav > li > a::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      background: #a89875;
      opacity: 0;
      -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
      transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
      -o-transition: height 0.3s, opacity 0.3s, transform 0.3s;
      transition: height 0.3s, opacity 0.3s, transform 0.3s;
      transition: height 0.3s, opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px); }
    .navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav > li > a.active {
      background-color: transparent;
      opacity: 1; }
      .navbar-nav > li > a:hover::after, .navbar-nav > li > a:focus::after, .navbar-nav > li > a.active::after {
        height: 1px;
        opacity: 1;
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px); }

.header-search {
  position: relative;
  top: -6px; }

.header-search__form {
  position: relative;
  width: 244px; }
  .header-search__form input {
    padding: 0 10px;
    width: 100%;
    height: 32px;
    background: #f6f5f2;
    outline: none;
    border: none;
    font-size: 14px; }
  .header-search__form button {
    position: absolute;
    right: 8px;
    top: 10px;
    padding: 0;
    background-color: transparent;
    outline: none;
    border: none;
    z-index: 10; }
    .header-search__form button:hover {
      opacity: 1; }

.search-ic {
  display: block;
  width: 14px;
  height: 14px;
  background: url(../img/search-brown-ic.png); }
  .search-ic:hover {
    background: url(../img/search-ic.png); }

*::-webkit-input-placeholder {
  color: #a89875;
  font-size: 14px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:-moz-placeholder {
  color: #a89875;
  font-size: 14px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*::-moz-placeholder {
  color: #a89875;
  font-size: 14px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:-ms-input-placeholder {
  color: #a89875;
  font-size: 14px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:focus::-webkit-input-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus::-moz-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus:-moz-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus:-ms-input-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

textarea:focus::-webkit-input-placeholder {
  text-indent: 0; }

textarea:focus::-moz-placeholder {
  text-indent: 0; }

textarea:focus:-moz-placeholder {
  text-indent: 0; }

textarea:focus:-ms-input-placeholder {
  text-indent: 0; }

.banner {
  padding: 40px 0 0; }

.banner-slider__item {
  position: relative; }

.banner-slider__info {
  position: absolute;
  padding: 35px 30px;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 300px;
  height: 260px;
  background: #fff;
  z-index: 10; }
  .banner-slider__info h3 {
    line-height: 32px;
    margin-bottom: 20px; }
  .banner-slider__info p {
    margin-bottom: 35px;
    line-height: 24px; }

.slick-slide {
  outline: none; }

.banner-slider__btn button {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent; }

.banner-slider__btn i[class^="icon"] {
  display: block;
  width: 6px;
  height: 14px; }

.icon-prev {
  background: url(../img/prev-ic.png); }
  .icon-prev:hover {
    background: url(../img/prev-b-ic.png); }

.icon-next {
  background: url(../img/next-ic.png); }
  .icon-next:hover {
    background: url(../img/next-b-ic.png); }

.banner-slider__count {
  display: inline-block;
  padding: 0 14px;
  vertical-align: middle;
  color: #a89875; }
  .banner-slider__count span {
    color: #a89875; }

section {
  padding: 60px 0 0; }
  section h1, section h2 {
    position: relative;
    padding: 0 0 30px;
    margin-bottom: 25px;
    text-align: center; }
    section h1::before, section h2::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      padding: 0;
      width: 40px;
      height: 20px;
      background: url(../img/leaf.png) no-repeat center;
      background-color: #fff;
      z-index: 10; }
    section h1::after, section h2::after {
      content: '';
      position: absolute;
      bottom: 8px;
      width: 460px;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 1px;
      background: #EEEBE5; }

.product-item {
  position: relative;
  padding: 0 0 10px; }
  .product-item h5 {
    height: 50px;
    color: #5b5b5b; }
  .product-item .btn {
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10; }
  .product-item:hover .btn {
    opacity: 1; }
  .product-item:hover .price {
    opacity: 0; }

.product-slider {
  margin-left: -10px;
  margin-right: -10px; }
  .product-slider .product-item {
    margin: 0 10px; }

.product-item__img {
  position: relative;
  height: 260px;
  padding: 20px 15px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: #fbfaf9; }
  .product-item__img a {
    display: block; }
  .product-item__img img {
    display: block; }

.price-curent {
  font-size: 20px;
  font-weight: 600; }

.price-old {
  padding: 0 0 0 3px;
  font-size: 16px;
  color: #a89875;
  text-decoration: line-through; }

.btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding: 10px 15px;
  background: #a89875;
  text-align: center;
  text-transform: uppercase;
  border: none;
  outline: none; }
  .btn:hover, .btn:focus {
    opacity: 1;
    background: #1e1e1e;
    color: #fff; }

.btn-transparent {
  padding: 14px 15px;
  border: 1px solid #a89875;
  color: #a89875;
  background-color: transparent;
  text-transform: uppercase; }

.product-item__tag {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 3px 6px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  background: #c0b59e; }

footer {
  margin-top: 60px;
  padding: 40px 0;
  background: #fff;
  border-top: 1px solid #EEEBE5; }

.copyright {
  margin: 0;
  text-align: center;
  color: #5b5b5b; }
  .copyright a {
    color: #5b5b5b; }

.visible-xs {
  display: none !important; }

article p {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 24px; }

article h4 {
  margin-bottom: 20px;
  text-align: center; }

.payment-method {
  padding: 40px 0 0; }

.payment-method__item {
  text-align: center; }
  .payment-method__item h4 {
    margin: 10px 0 20px; }
  .payment-method__item p {
    font-size: 16px; }

.partners p {
  font-size: 16px; }

.tabs-wrapper {
  padding: 50px 0 0; }

.tabs-nav {
  margin-bottom: 30px;
  list-style: none;
  text-align: center; }
  .tabs-nav li {
    width: 50%;
    display: inline-block; }
    .tabs-nav li a {
      position: relative;
      display: block;
      padding: 0 0 10px;
      font-size: 16px;
      text-transform: uppercase; }
      .tabs-nav li a::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: #F5F3EF; }
      .tabs-nav li a.active {
        color: #404040; }
        .tabs-nav li a.active::before {
          background: #797979; }

.tabs-item {
  display: none; }
  .tabs-item.active {
    display: block; }

.registration-form, .authorization-form {
  max-width: 460px;
  margin: 0 auto; }
  .registration-form .btn, .authorization-form .btn {
    width: 260px;
    display: block;
    margin: 0 auto 0;
    padding: 15px 15px; }

.form-item {
  margin-bottom: 20px; }
  .form-item label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px; }

.form-input {
  width: 100%;
  height: 40px;
  padding: 0 0 0 10px;
  font-size: 16px;
  border: none;
  outline: none;
  background: #F6F5F2; }

textarea.form-input {
  height: 180px;
  padding: 10px 0 0 10px;
  resize: none; }

.form .select-box {
  width: 100%;
  font-size: 16px;
  outline: none; }

.form .birthday-select__date {
  width: 26%; }

.form .birthday-select__month {
  width: 40%; }

.form .birthday-select__year {
  width: 30%; }

.jq-selectbox {
  display: block; }

.jq-selectbox__select {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  border-bottom: 1px solid #fff;
  outline: none;
  background: #F6F5F2; }

.jq-selectbox__select-text {
  padding: 0 25px 0 12px; }
  .jq-selectbox__select-text::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 6px;
    background: url(../img/angle-bottom.png);
    right: 10px;
    top: 15px; }

.jq-selectbox__dropdown {
  width: 100%;
  z-index: 110;
  background: #fff; }
  .jq-selectbox__dropdown > ul {
    height: 122px;
    background: #F6F5F2; }
  .jq-selectbox__dropdown li {
    padding: 10px 12px;
    font-size: 16px;
    border-bottom: 1px solid #fff; }
    .jq-selectbox__dropdown li:last-child {
      border: none; }

.form-item__row {
  margin-left: -5px;
  margin-right: -5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .form-item__row .form-item__unit {
    margin-left: 5px;
    margin-right: 5px; }

.form-item__house {
  width: 70%; }

.form-item__index {
  width: 30%; }

.personal {
  margin: 30px 0 20px; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    padding: 0 0 0 30px;
    cursor: pointer;
    font-size: 14px;
    line-height: normal; }
    input[type="checkbox"] + label::before {
      content: "";
      display: block;
      position: absolute;
      top: -2px;
      left: 0;
      width: 20px;
      height: 20px;
      background: #a89875; }
    input[type="checkbox"] + label a {
      text-decoration: underline; }
  input[type="checkbox"]:checked + label::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: -2px;
    background: url(../img/check-ic.png) no-repeat; }

.contact h5 {
  margin-bottom: 25px; }

.contacts-box {
  margin-bottom: 50px; }
  .contacts-box h4 {
    margin-bottom: 20px;
    text-align: center; }
  .contacts-box h5 {
    margin-bottom: 20px;
    font-weight: 500; }
  .contacts-box h6 {
    margin-bottom: 12px; }

.contacts-box__main {
  max-width: 460px;
  margin: 0 auto 50px; }
  .contacts-box__main h5 {
    font-weight: normal; }

.contacts-box__list {
  list-style: none; }
  .contacts-box__list li {
    margin-bottom: 12px;
    font-size: 16px; }
    .contacts-box__list li:last-child {
      margin-bottom: 0; }
    .contacts-box__list li span:first-of-type {
      color: #a89875; }
    .contacts-box__list li a {
      color: #1e1e1e;
      text-decoration: underline; }

.contacts-box__partners h4 {
  margin-bottom: 50px; }

.contacts-box__item {
  margin-bottom: 50px; }
  .contacts-box__item .contacts-box__list {
    max-width: 360px; }

.border-box {
  padding: 20px 20px;
  border: 4px double #a89875; }
  .border-box h5 {
    color: #a89875; }
  .border-box p {
    font-size: 16px;
    line-height: 24px; }
    .border-box p a {
      text-decoration: underline; }

.reviews-item {
  position: relative;
  padding: 0 0 0 80px;
  margin-bottom: 30px; }
  .reviews-item h6 {
    margin-bottom: 2px;
    font-weight: 600; }
  .reviews-item p {
    line-height: 20px; }

.reviews-item__img {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 60px; }

.reviews-item__text {
  position: relative; }

.strar-list {
  list-style: none; }
  .strar-list .fa {
    color: #a89875; }
    .strar-list .fa.fa-star__grey {
      color: #e6e1d7; }

.reviews-item__date {
  color: #a89875; }

.reviews-item__header {
  margin-bottom: 10px; }

.leave-feedback {
  padding: 20px 80px 0; }
  .leave-feedback h4 {
    margin-bottom: 30px;
    text-align: center; }
  .leave-feedback p {
    margin-bottom: 12px; }

.star-rating {
  font-size: 0; }

.star-rating__wrap {
  display: inline-block;
  font-size: 1rem; }
  .star-rating__wrap:after {
    content: "";
    display: table;
    clear: both; }

.star-rating__ico {
  float: right;
  padding-left: 2px;
  cursor: pointer;
  color: #e6e1d7; }
  .star-rating__ico:last-child {
    padding-left: 0; }

.star-rating__input {
  display: none; }

.star-rating__ico:hover:before, .star-rating__ico:hover ~ .star-rating__ico:before {
  color: #a89875; }

.star-rating__input:checked ~ .star-rating__ico:before {
  color: #a89875; }

.leave-feedback__form {
  margin-top: 30px; }
  .leave-feedback__form .row {
    margin-left: -15px;
    margin-right: -15px; }
    .leave-feedback__form .row [class^="col"] {
      padding-left: 15px;
      padding-right: 15px; }
  .leave-feedback__form label {
    font-weight: 600; }
  .leave-feedback__form .star-rating__ico {
    font-size: 34px; }
  .leave-feedback__form .btn {
    min-width: 140px;
    margin: 20px auto 0; }

.content-wrap {
  padding: 35px 0 0; }

.sidebar {
  padding-right: 15px;
  background: #fff; }
  .sidebar h4 {
    margin-bottom: 10px; }

.catalog-menu {
  list-style: none; }
  .catalog-menu > li {
    border-bottom: 1px solid #EEEBE5; }
    .catalog-menu > li.dropdown {
      position: relative; }
    .catalog-menu > li > a {
      display: block;
      padding: 10px 20px 10px 0;
      font-size: 16px; }
      .catalog-menu > li > a span {
        color: #a89875; }
      .catalog-menu > li > a:hover {
        opacity: 1;
        color: #a89875; }

.toggler {
  position: absolute;
  right: 0;
  top: 16px;
  width: 14px;
  height: 6px;
  background: url(../img/angle-bottom.png); }

.dropdown-menu {
  display: none;
  list-style: none; }
  .dropdown-menu li {
    padding: 0 0 0 10px; }
    .dropdown-menu li:last-child {
      padding-bottom: 10px; }
    .dropdown-menu li a {
      position: relative;
      display: block;
      padding: 6px 0 6px 20px;
      font-size: 14px; }
      .dropdown-menu li a span {
        color: #a89875; }
      .dropdown-menu li a::before {
        content: '•';
        color: #a89875;
        position: absolute;
        left: 0;
        top: 4px;
        font-size: 14px; }
      .dropdown-menu li a:hover {
        opacity: 1;
        color: #a89875; }

.dropdown.active .toggler {
  -webkit-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
          transform: scale(1, -1); }

.catalog-header .jq-selectbox__select {
  min-width: 180px;
  font-size: 14px;
  background-color: transparent; }

.catalog-header .jq-selectbox__dropdown > ul {
  background-color: transparent; }

.catalog-header .jq-selectbox__dropdown li {
  font-size: 14px;
  border: none;
  background-color: transparent; }
  .catalog-header .jq-selectbox__dropdown li:hover {
    color: #a89875;
    cursor: pointer; }

.catalog-header .jq-selectbox__select-text::before {
  top: 17px; }

.catalog {
  padding: 30px 0 0; }
  .catalog .product-item {
    margin-bottom: 30px; }
    .catalog .product-item h5 {
      height: 50px;
      font-size: 14px; }

.pagination {
  margin: 20px 0;
  padding: 21px 0;
  list-style: none;
  text-align: center;
  background: #F6F5F2; }
  .pagination li {
    display: inline-block; }
    .pagination li.pagination-first {
      -webkit-transform: rotateZ(90deg);
          -ms-transform: rotate(90deg);
              transform: rotateZ(90deg); }
      .pagination li.pagination-first a {
        padding: 0; }
    .pagination li.pagination-last {
      -webkit-transform: rotateZ(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotateZ(-90deg); }
      .pagination li.pagination-last a {
        padding: 0; }
    .pagination li a {
      position: relative;
      display: block;
      padding: 0 10px;
      font-size: 14px; }
      .pagination li a:hover {
        opacity: 1;
        color: #a89875; }

.product-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  height: 330px;
  background: #fbfaf9; }
  .product-img img {
    display: block;
    margin: 0 auto;
    max-height: 100%; }

.breadcrumbs {
  margin: 0 0 10px;
  list-style: none; }
  .breadcrumbs li {
    display: inline-block;
    margin-right: -0.03em;
    color: #a89875; }
    .breadcrumbs li + li::before {
      content: "/";
      font-size: 14px;
      padding: 0 8px 0 3px; }
    .breadcrumbs li a {
      position: relative;
      color: #a89875; }

.product-info {
  padding: 0 0 0 20px; }
  .product-info h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-family: "Montserrat"; }
  .product-info .plus-minus {
    max-width: 160px;
    margin-bottom: 10px; }
  .product-info .btn {
    min-width: 160px; }

.product-info__price {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500; }

.product-info__list {
  display: table;
  margin-bottom: 20px; }
  .product-info__list li {
    display: table-row; }
    .product-info__list li span, .product-info__list li strong {
      display: table-cell;
      font-size: 16px;
      padding-top: 6px;
      padding-bottom: 6px; }
    .product-info__list li span {
      padding-right: 20px; }

.plus-minus {
  position: relative;
  height: 40px;
  padding: 0 40px;
  background: #f6f5f2; }
  .plus-minus button {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none; }
    .plus-minus button.btn-minus {
      left: 0;
      top: 0; }
    .plus-minus button.btn-plus {
      right: 0;
      top: 0; }
    .plus-minus button span {
      font-family: serif;
      font-size: 26px;
      color: #a89875; }
    .plus-minus button:hover span {
      color: #1e1e1e; }
  .plus-minus input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    font-size: 16px; }

.product-description {
  padding: 50px 0 50px; }
  .product-description h4 {
    margin-bottom: 30px; }
  .product-description p {
    line-height: 20px;
    margin-bottom: 10px; }
  .product-description h6 {
    font-weight: 600;
    font-size: 14px; }
  .product-description iframe {
    width: 100%;
    height: 360px; }

.product-related h4 {
  margin-bottom: 30px; }

.bg-pink {
  background: #f6f5f2; }
  .bg-pink .content-wrap {
    padding: 20px 0 60px; }

.partner-data {
  padding: 15px 20px; }

.partner-data__name {
  padding: 15px 0 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; }

.uppercase {
  text-transform: uppercase; }

.partner-data__date {
  color: #a89875;
  line-height: 24px; }

.partner-data__mail {
  font-size: 16px;
  line-height: 28px; }

.partner-data__tel {
  font-size: 16px;
  line-height: 28px; }

.personal-number__box {
  margin: 20px 0 0;
  padding: 20px 0 10px;
  border-top: 1px solid #E8E8E8; }

.personal-number__header {
  font-size: 16px; }
  .personal-number__header a {
    display: inline-block;
    margin-left: 10px;
    border-bottom: 1px dotted;
    color: #a89875; }

.personal-number__num {
  padding: 10px 0 0;
  font-size: 24px;
  font-weight: 500; }

.user-btn {
  padding: 20px 0 0;
  background: #f6f5f2; }
  .user-btn .btn {
    width: 100%;
    margin-bottom: 10px; }

.content-box {
  background: #fff; }

.order-history {
  padding: 15px 20px; }
  .order-history h4 {
    margin-bottom: 15px; }
  .order-history .pagination {
    background: #fff; }

.color-yellow {
  color: #eaaf3e; }

.color-grey {
  color: #a49e92; }

.color-pink {
  color: #c18876; }

table {
  width: 100%;
  border-collapse: collapse; }
  table tr {
    border-bottom: 1px solid #E8E8E8; }
    table tr td {
      padding: 15px 10px;
      font-size: 16px; }
      table tr td:first-child {
        padding-left: 0; }
      table tr td:last-child {
        padding-right: 0;
        text-align: right; }
      table tr td a {
        font-weight: 600;
        border-bottom: 1px dotted; }

.bg-pink + footer {
  margin: 0; }

.modal {
  display: none;
  padding: 30px 40px 40px;
  width: 500px;
  z-index: 110;
  background-color: #fff; }
  .modal h4 {
    padding: 0 20px 0 0; }

.fancybox-close-small {
  padding: 0;
  opacity: 1;
  width: 30px;
  height: 30px;
  right: 30px;
  top: 30px;
  color: #a89875; }
  .fancybox-close-small:active, .fancybox-close-small:focus {
    outline: none; }
  .fancybox-close-small span {
    font-size: 30px;
    line-height: 30px;
    font-family: serif;
    color: #a89875;
    font-weight: 300; }

.modal-body {
  width: 100%;
  padding: 30px 0 0; }
  .modal-body p {
    margin-bottom: 30px;
    font-size: 16px;
    color: #5b5b5b;
    line-height: 24px; }

.text-center {
  text-align: center; }

.modal-order {
  width: 620px; }

.modal-order__table {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 20px; }
  .modal-order__table li {
    display: table-row; }
    .modal-order__table li > * {
      display: table-cell;
      padding-left: 20px;
      vertical-align: top;
      font-size: 16px;
      font-family: "Montserrat"; }
    .modal-order__table li .modal-order__img {
      width: 80px;
      height: 94px;
      padding: 5px 5px;
      margin-bottom: 20px;
      vertical-align: bottom;
      text-align: center;
      background: #fbfaf9; }

.modal-order__info {
  max-width: 240px; }

.modal-order__name {
  margin-bottom: 12px; }

.modal-order__price, .modal-order__summ {
  font-weight: 500; }

.modal-order__summ {
  text-align: right; }

.modal-order__total {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0 0;
  border-top: 1px solid #E8E8E8; }
  .modal-order__total li {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 25%;
    font-family: "Montserrat";
    font-size: 16px;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .modal-order__total li:first-child {
      width: 50%; }
    .modal-order__total li:last-child {
      font-weight: 600;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }

.cart {
  background: #F6F5F2; }

.cart-box, .delivery, .cart-total, .payment {
  padding: 15px 20px 20px;
  background: #fff; }

.cart-box {
  margin-bottom: 20px; }

.cart-table {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 20px; }
  .cart-table li {
    display: table-row; }
    .cart-table li > * {
      display: table-cell;
      padding-left: 20px;
      vertical-align: top;
      font-size: 16px;
      font-family: "Montserrat"; }
    .cart-table li .cart-table__img {
      width: 80px;
      height: 94px;
      padding: 5px 5px;
      margin-bottom: 20px;
      vertical-align: bottom;
      text-align: center;
      background: #fbfaf9; }
    .cart-table li .cart-table__clear {
      padding: 0 0 0 20px;
      border: none;
      background-color: transparent;
      outline: none;
      font-size: 30px;
      line-height: 18px;
      font-family: serif;
      color: #a89875; }

.cart-table__info {
  max-width: 240px; }

.cart-table__name {
  margin-bottom: 12px; }

.cart-table__price, .cart-table__summ {
  font-weight: 500; }

.cart-table__count .plus-minus {
  width: 100px;
  height: 32px;
  padding: 0 32px; }
  .cart-table__count .plus-minus button {
    width: 32px;
    height: 32px; }
    .cart-table__count .plus-minus button span {
      font-size: 20px; }

.cart-table__summ {
  text-align: right; }

.cart-table__price--old {
  padding-left: 3px;
  font-size: 14px;
  font-weight: normal;
  color: #a89875;
  text-decoration: line-through; }

.delivery {
  margin-bottom: 20px; }
  .delivery h4 {
    margin-bottom: 25px; }
  .delivery .radio-list li {
    position: relative; }
    .delivery .radio-list li::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-bottom: 2px dotted #EEEBE5; }
    .delivery .radio-list li strong {
      position: relative;
      font-size: 16px;
      background: #fff;
      z-index: 1; }

.radio-list__wrap {
  position: relative;
  background: #fff;
  z-index: 1; }

.radio-list {
  list-style: none; }
  .radio-list li {
    margin: 0 0 25px; }
  .radio-list [type="radio"]:checked, .radio-list [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px; }
  .radio-list [type="radio"]:checked + label, .radio-list [type="radio"]:not(:checked) + label {
    position: relative;
    margin: 0;
    padding: 0 0 0 30px;
    cursor: pointer;
    font-size: 16px; }
  .radio-list [type="radio"]:checked + label:before, .radio-list [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    border: 1px solid #a89875; }
  .radio-list [type="radio"]:checked + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #a89875;
    position: absolute;
    top: 3px;
    left: 4px;
    -webkit-border-radius: 100%;
            border-radius: 100%; }

.delivery-form .form-item:last-of-type {
  margin-bottom: 0; }

.payment h4 {
  margin-bottom: 25px; }

.payment .radio-list [type="radio"]:not(:checked) + label, .payment .radio-list [type="radio"]:not(:checked) + label:before {
  border-color: #e0dfdc;
  color: #e0dfdc; }

.sidebar-right {
  position: relative;
  padding: 0;
  background: #F6F5F2; }

.cart-total {
  position: relative;
  margin-bottom: 28px;
  background: #fff; }
  .cart-total::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -13px;
    height: 13px;
    width: 100%;
    background: url(../img/angles.png); }
  .cart-total .btn {
    width: 100%;
    padding: 15px 20px; }

.cart-total__list {
  list-style: none; }
  .cart-total__list li {
    font-size: 16px;
    margin-bottom: 10px; }
    .cart-total__list li.cart-total__summ {
      padding: 20px 0;
      margin: 0;
      border-top: 1px solid #E8E8E8; }
  .cart-total__list strong {
    font-weight: 600; }

.login.active {
  background: #fff;
  padding: 0 20px 20px; }
  .login.active .form {
    display: block; }
  .login.active .login-btn {
    background: #fff;
    border: none; }
    .login.active .login-btn::before {
      -webkit-transform: scale(1, -1);
          -ms-transform: scale(1, -1);
              transform: scale(1, -1);
      right: 3px; }

.login .form {
  display: none; }
  .login .form .form-item:last-of-type {
    margin-bottom: 0; }

.login-btn {
  position: relative;
  width: 100%; }
  .login-btn:hover {
    background-color: transparent;
    opacity: .8;
    color: #a89875; }
  .login-btn:focus {
    color: #a89875;
    background-color: transparent; }
  .login-btn::before {
    content: '';
    position: absolute;
    right: 23px;
    top: 20px;
    width: 14px;
    height: 6px;
    background: url(../img/angle-bottom.png); }

.btn-cetegory {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto 10px;
  font-weight: normal;
  text-transform: none; }
  .btn-cetegory::before {
    content: '';
    position: absolute;
    right: 15px;
    top: 18px;
    width: 11px;
    height: 9px;
    background: url(../img/category-ic.png); }
  .btn-cetegory:hover, .btn-cetegory:focus {
    color: #a89875;
    background-color: transparent; }

@media only screen and (max-width: 991px) {
  .header-top {
    padding: 20px 0; }
  .container {
    max-width: 750px; }
  .header-search__form {
    width: 170px; }
  .navbar-nav > li > a {
    font-size: 10px; }
  .header-info__title {
    font-size: 12px; }
    .header-info__title a {
      font-size: 16px; }
  h2 {
    font-size: 34px; }
  h3 {
    font-size: 26px; }
  .banner-slider__info {
    padding: 20px;
    width: 240px;
    height: 200px; }
    .banner-slider__info h3 {
      margin-bottom: 10px;
      line-height: 26px; }
    .banner-slider__info p {
      margin-bottom: 15px;
      line-height: normal; }
  footer {
    padding: 30px 0; }
  .content-wrap {
    padding: 15px 0 0; }
  .catalog-menu > li > a {
    font-size: 14px; }
  .leave-feedback {
    padding: 20px 0; }
  .contacts {
    padding: 20px 0 0; } }

@media only screen and (max-width: 767px) {
  .container {
    width: auto;
    max-width: none;
    padding-left: 15px;
    padding-right: 15px; }
  .visible-xs {
    display: block !important; }
  section {
    padding: 40px 0 0; }
  .header-info {
    display: none; }
  .logo {
    max-width: 177px; }
  .nav-search {
    display: block; }
  .header-search {
    display: none; }
  .navbar-toggle {
    display: block;
    float: none;
    margin: 0;
    padding: 0; }
    .navbar-toggle .icon-bar {
      position: relative;
      height: 2px;
      width: 20px;
      background: #a89875;
      -webkit-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease; }
    .navbar-toggle.active .icon-bar {
      margin: 0; }
      .navbar-toggle.active .icon-bar:nth-of-type(1) {
        top: 7px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
      .navbar-toggle.active .icon-bar:nth-of-type(2) {
        background-color: transparent; }
      .navbar-toggle.active .icon-bar:nth-of-type(3) {
        top: -7px;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .navbar-toggle .icon-bar + .icon-bar {
      margin-top: 5px; }
  .nav.navbar-nav {
    display: none; }
  .nav.navbar-nav.active {
    display: block; }
  .navbar-nav {
    position: relative;
    width: 100%;
    padding-bottom: 5px; }
    .navbar-nav > li {
      display: block;
      padding: 0;
      text-align: center; }
      .navbar-nav > li::before {
        content: ''; }
      .navbar-nav > li > a {
        position: relative;
        display: block;
        text-align: left;
        padding: 10px 0;
        font-size: 14px;
        text-transform: uppercase;
        min-height: 0;
        line-height: normal;
        border-top: 1px solid #D5D5D5; }
        .navbar-nav > li > a::after {
          display: none; }
  .banner {
    padding: 20px 0 0;
    background: #f9f6f3; }
  .banner-slider {
    padding-bottom: 10px; }
    .banner-slider .slick-dots {
      bottom: -10px; }
      .banner-slider .slick-dots li {
        margin: 0 4px;
        width: auto;
        height: auto; }
        .banner-slider .slick-dots li.slick-active button::after {
          background: #282828; }
      .banner-slider .slick-dots button {
        position: relative;
        display: block;
        margin: 0;
        width: 32px;
        height: 8px; }
        .banner-slider .slick-dots button::before {
          display: none; }
        .banner-slider .slick-dots button::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 1px;
          background: #F1EFEA; }
  .banner-slider__info {
    position: static;
    padding: 0 0 0;
    height: auto;
    background: #f9f6f3;
    text-align: center; }
    .banner-slider__info p {
      margin-bottom: 20px; }
  h1 {
    font-size: 28px; }
  h2 {
    font-size: 28px; }
  h3 {
    font-size: 24px; }
  h5 {
    font-size: 12px; }
  .header-cart {
    margin: 0; }
  .product-item .btn {
    position: static;
    margin-top: 10px;
    opacity: 1; }
  .product-item:hover .price {
    opacity: 1; }
  .product-item__img {
    height: 164px;
    padding: 10px; }
    .product-item__img img {
      max-height: 144px; }
  .price-curent {
    font-size: 16px; }
  .price-old {
    font-size: 12px; }
  .banner-slider__btn {
    display: none; }
  section h1::after, section h2::after {
    width: 100%; }
  footer {
    margin-top: 30px; }
  .catalog-menu > li > a {
    font-size: 16px; }
  .sidebar > h4 {
    display: none; }
  .catalog-menu {
    display: none;
    position: absolute;
    padding-top: 40px;
    left: 0;
    right: 0;
    top: -92px;
    background: #fff;
    z-index: 100; }
    .catalog-menu > li > a {
      padding: 10px 30px 10px 15px; }
    .catalog-menu > li.close-menu {
      border: none; }
  .close-menu__btn {
    position: absolute;
    right: 13px;
    top: 15px;
    padding: 0;
    font-size: 40px;
    line-height: 30px;
    font-family: serif;
    color: #a89875;
    background-color: transparent;
    border: none;
    outline: none; }
  .toggler {
    right: 15px;
    width: 17px;
    height: 11px;
    background: url(../img/angle-bottom-m.png); }
  .sidebar {
    padding: 0; }
  .catalog-header {
    display: block; }
    .catalog-header h4 {
      display: none; }
  .catalog-header .jq-selectbox__select {
    width: 100%;
    height: 48px;
    line-height: 46px;
    border: 1px solid #a89875;
    color: #a89875; }
  .catalog-header .jq-selectbox__dropdown {
    border: 1px solid #a89875;
    border-top: none; }
  .catalog-header .jq-selectbox__select-text::before {
    top: 21px; }
  .catalog .product-item h5 {
    font-size: 12px; }
  .product-info h3 {
    font-size: 16px; }
  .breadcrumbs li {
    font-size: 12px; }
  .product-info__price {
    font-size: 20px; }
  .product-info__list li span, .product-info__list li strong {
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px; }
  .product-info {
    padding: 0; }
    .product-info .plus-minus, .product-info .btn {
      width: 288px;
      display: block;
      max-width: none;
      margin: 0 0 10px; }
  .product-description {
    padding: 30px 0 30px; }
    .product-description h4 {
      margin-bottom: 20px;
      text-align: center; }
    .product-description p {
      font-size: 12px; }
    .product-description iframe {
      height: 240px; }
  h4 {
    font-size: 20px;
    text-align: center; }
  .reviews-item {
    padding: 0 0 0 50px; }
    .reviews-item p {
      font-size: 12px; }
  .reviews-item__img {
    max-width: 33px; }
  h6 {
    font-size: 14px; }
  .strar-list .fa {
    font-size: 13px; }
  .reviews-item__date {
    font-size: 12px; }
  .leave-feedback h4 {
    margin-bottom: 20px; }
  .leave-feedback p {
    font-size: 12px; }
  .form-item {
    margin-bottom: 15px; }
    .form-item label {
      margin-bottom: 6px;
      font-size: 14px; }
  .contacts-box h5 {
    font-size: 16px;
    text-align: center; }
  .contacts-box h6 {
    font-size: 14px;
    text-align: center; }
  .contacts-box__main {
    margin-bottom: 30px; }
  .contacts-box__list li {
    display: block;
    text-align: center;
    font-size: 12px; }
    .contacts-box__list li > span {
      display: block; }
  .contacts-box__partners h4 {
    margin-bottom: 30px; }
  .contacts-box__partners .contacts-box__item {
    margin-bottom: 30px; }
  .border-box {
    padding: 12px 12px; }
    .border-box p {
      font-size: 14px; }
  section.delivery {
    padding-left: 0;
    padding-right: 0; }
    section.delivery h4 {
      margin-bottom: 20px; }
  article p {
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 20px; }
  .payment-method {
    padding: 20px 0 0; }
  .payment-method__item {
    margin-bottom: 20px; }
    .payment-method__item p {
      font-size: 14px; }
  .cart-box h4 {
    font-size: 28px;
    margin-bottom: 30px; }
  .cart-table {
    display: block; }
    .cart-table > li {
      display: block;
      position: relative;
      padding-left: 90px;
      margin-bottom: 10px; }
      .cart-table > li .cart-table__img {
        position: absolute;
        left: 0;
        top: 0; }
      .cart-table > li .cart-table__info {
        display: inline-block;
        padding: 0 15px 10px 0;
        vertical-align: top; }
        .cart-table > li .cart-table__info .cart-table__name {
          margin-bottom: 5px;
          font-size: 14px; }
        .cart-table > li .cart-table__info .cart-table__price {
          font-size: 14px; }
      .cart-table > li .cart-table__count {
        display: block;
        padding: 0; }
        .cart-table > li .cart-table__count .plus-minus {
          position: relative;
          width: 90px;
          z-index: 10; }
      .cart-table > li .cart-table__summ {
        position: relative;
        display: block;
        padding: 0;
        top: -24px;
        font-size: 14px; }
      .cart-table > li .cart-table__clear {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0;
        font-size: 24px; }
  .radio-list [type="radio"]:checked + label, .radio-list [type="radio"]:not(:checked) + label {
    font-size: 14px; }
  .delivery .radio-list li strong {
    font-size: 14px; }
  .delivery .radio-list li::before {
    bottom: 3px;
    border-width: 1px; }
  .hidden-xs {
    display: none !important; }
  .partners {
    padding: 20px 0 0; }
    .partners p {
      font-size: 14px; }
  .tabs-wrapper {
    padding: 30px 0 0; }
  .tabs-item__body {
    display: none; }
  .tabs-item {
    display: block; }
    .tabs-item.active .tabs-item__body {
      display: block; }
  .tabs-mobile h4 {
    margin-bottom: 10px;
    text-align: center; }
  .tabs-mobile__item {
    display: none;
    margin-bottom: 20px;
    text-align: center; }
    .tabs-mobile__item.active {
      display: block; }
    .tabs-mobile__item p {
      margin: 0 0 10px;
      font-size: 12px; }
    .tabs-mobile__item .tabs-mobile__btn {
      text-decoration: underline;
      font-size: 12px; }
  .jq-selectbox__select {
    font-size: 14px; }
  .bg-pink {
    background: #fff; }
  .partner-data {
    padding: 0;
    text-align: center; }
    .partner-data h4 {
      margin: 0;
      font-size: 28px; }
  .partner-data__name, .partner-data__mail, .partner-data__tel {
    font-size: 14px; }
  .partner-data__date {
    font-size: 12px; }
  .personal-number__box {
    margin: 10px 0 0;
    padding: 10px 0 10px; }
  .user-btn {
    background: #fff; }
  .personal-number__header {
    font-size: 14px; }
  .personal-number__num {
    font-size: 20px; }
  .order-history {
    padding-left: 0;
    padding-right: 0; }
  table tr td {
    padding: 10px 5px;
    font-size: 12px; }
  .cart-total {
    background: #F6F5F2; }
    .cart-total::before {
      display: none; }
  .login {
    padding: 20px 0 0;
    background: #fff;
    margin-top: 20px; }
  .modal {
    padding: 15px 15px 20px; }
  .modal-body {
    padding: 15px 0 0; }
    .modal-body p {
      margin-bottom: 20px;
      font-size: 14px; }
  .fancybox-close-small {
    right: 5px;
    top: 16px; }
  .pagination {
    padding: 10px 0 0; }
  .modal-order__table {
    display: block; }
    .modal-order__table > li {
      display: block;
      position: relative;
      padding-left: 90px;
      margin-bottom: 10px; }
      .modal-order__table > li .modal-order__img {
        position: absolute;
        left: 0;
        top: 0; }
      .modal-order__table > li .modal-order__info {
        display: inline-block;
        padding: 0 15px 10px 0;
        vertical-align: top; }
        .modal-order__table > li .modal-order__info .modal-order__name {
          margin-bottom: 5px;
          font-size: 14px; }
        .modal-order__table > li .modal-order__info .modal-order__price {
          font-size: 14px; }
      .modal-order__table > li .modal-order__count {
        display: block;
        padding: 0; }
        .modal-order__table > li .modal-order__count .plus-minus {
          position: relative;
          width: 90px;
          z-index: 10; }
      .modal-order__table > li .modal-order__summ {
        position: relative;
        display: block;
        padding: 0;
        top: -20px;
        font-size: 14px;
        font-weight: 600; }
      .modal-order__table > li .modal-order__clear {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0;
        font-size: 24px; }
  .modal-order__total li {
    width: 30%;
    font-size: 14px; }
    .modal-order__total li:first-child {
      width: 35%; } }

@media only screen and (max-width: 550px) {
  .header-top {
    padding: 14px 0 12px; }
  .header-cart {
    max-width: 16px; }
    .header-cart span {
      width: 16px;
      height: 16px;
      font-size: 10px; }
  .banner-slider__info p {
    font-size: 12px; }
  .catalog-menu {
    top: -76px; }
  .product-description iframe {
    height: 160px; }
  .leave-feedback__form .btn {
    width: 100%;
    margin: 0; }
  .registration-form .btn, .authorization-form .btn {
    width: 100%; }
  table tr td {
    padding: 10px 5px;
    font-size: 10px; }
  .bg-pink .content-wrap {
    padding-bottom: 0; } }

@media only screen and (max-width: 330px) {
  table tr td {
    font-size: 9px;
    padding: 10px 3px; } }
